<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div>
        <h3>{{appTitle}} - To My First Angular 2 Work</h3>
    </div>
    <div>
        <table border="1" width="100%">
            <tr>
                <td width="20%">
                    *ngIf Example
                </td>
                <td width="80%">
                    Show <u *ngIf='appStatus'><b>THIS</b></u> value. <br />
                    Changing "appStatus" value in app.component.ts will toggle THIS behavior.
                </td>
            </tr>
            <tr>
                <td width="20%">
                    *ngFor Example
                </td>
                <td width="80%">
                    <div *ngFor='let lst of appList'>
                        <ul>
                            <li>{{lst.ID}}</li>
                            <li>{{lst.Name}}</li>
                        </ul>
                    </div>
                    Definition of "appList" in app.component.ts will contain the resultant values
                </td>
            </tr>
            <tr>
                <td width="20%">
                    Data returning from json file
                </td>
                <td width="80%">
                    <ul>
                        <li *ngFor="let product of iproducts | async" >
                            Id: {{product.ProductID}}, Name: {{product.ProductName}}
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
